// body
body
{
    overflow-x: hidden;
}
// head
.head{
background-color: rgb(231, 231, 231)
}
.headimg
{
    height:100%;
    width:100%
}
.button{
    padding: 3% 5% 3% 5%;
    border-radius: 25px;
    border:none;
    background-color: #17B069;
    color: white;
    font-weight: 500;
    width:100%;
    }
.row .col-10{
    padding-top: 2%;
}

// our top fundraisers
.heading
{
    text-align: center;
    font-weight: 550;
    font-size: 25px;
    color:#17B069;
}
.textcolblack
{
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.cardstext
{
    color: black;
    font-size: 13px;
    font-weight: 500;
}


.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow:  3px 3px  rgba(2, 0, 0, 0.1);  
    border-radius: 15px; 
    border:1px solid rgb(100, 100, 100);
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.cardimage
{
    border-radius: 15px 15px 0 0;
}
    .donatebutton
    {
    padding: 3% 5% 3% 5%;
    border-radius: 5px;
    border:none;
    background-color: #17B069;
    color: white;
    font-weight: 500;
    }

    .fundrisebutton
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .categories
    {
    width:100%;
    padding-top: 5%;
    }

    .whatsapp 
    {
    color: #17B069;
    }
    .facebook 
    {
        color: #3B5998;
    }
    .whats
    {
        border:none;
        background-color: white;
        width: 100%;
        color: #17B069;
    }
    .face
    {
        border:none;
        background-color: white;
        width: 100%;
        color: #3B5998;
    }
    
    .carousel-control-prev, .carousel-control-next {
        height: 4px;
        width: 1%;
        background: none;	
        margin: auto 0;
        color: black;
    }
    .testimg
    {
        width:100%;
        height:100%;
        padding:25%
    }
    .testimonalstext
    {
        padding:5%
    }
    .testimonals
    {
        margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow:  3px 3px  rgba(2, 0, 0, 0.1);  
    border-radius: 5px; 
    border:1px solid rgb(100, 100, 100);
    }
.footer
{
    background-color: rgb(31, 31, 31);
    color: white;
}
.button{
padding: 3% 5% 3% 5%;
border-radius: 25px;
border:none;
background-color: #17B069;
color: white;
font-weight: 500;
}
.bold
{
    font-weight: 500;
}
.facebook {
    background: #3B5998;
    color: white;
    }
    
    .twitter {
    background: #55ACEE;
    color: white;
    }
    
    .whatsapp {
    background:green;
    color: white;
    }
    
    .linkedin {
    background: #007bb5;
    color: white;
    display: inline-block;
  border-radius:50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

    }
    
    i.fa 
    {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;
        
      }
      i.facebook
      {
        padding: 0.5em 0.7em;
      }
      .dropdown-toggle::after {
        display: none;
    }

    .navbartext
{
    font-size: 15px;
    font-weight: 500;
}

    @media only screen and  (min-device-width:1440px) and (max-device-width:1920px) 
    {
        .heading
{
    text-align: center;
    font-weight: 550;
    font-size: 30px;
    color:#17B069;
}
.textcolblack
{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
p {
font-size: 18px
}
.cardstext
{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.whats
    {
        font-size: 15px;
    }
    .face
    {
        
        font-size: 15px;
    }
    .texthead
    {
      
        font-size:25px;  
    }
    .texting
    {
        font-size:19px;
    }
    .donatebutton
    {
        font-size: 18px;
    }
    }
